.logo {
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/logo.png");
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

.header-background {
  position: relative;
  z-index: 1;
  height: 60px;
  width: 100%;
}

.shade-height {
  height: 50px;
  background: #F0F0F0;
  padding-top: 25px;
}

.app-label {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 15px;
  color: black;
}

.tabs {
  margin-left: 100px;
  margin-top: 5px;
  margin-right: 35px;
  text-align: left;
  color: #0087c0;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
}

.tabs-view {
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 35px;
  text-align: left;
  color: #0087c0;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
}

.tab-selected {
  border-bottom-style: solid;
  border-bottom-color: #0087c0;
}
