<header class="header-background">

  <div class="row">
      <a href="#">
      <div class="col-md-3 logo"></div>
      </a>
      <div class="col-md-9">
          <div class="app-label">
              EVENT DRIVEN POC CASE SOLUTION
            </div>
      </div>
  </div>


</header>

<section class="row shade-height">
        <span><a routerLinkActive="tab-selected" routerLink="/adds" class="tabs">Adds</a></span>
        <span><a routerLinkActive="tab-selected" routerLink="/caseInfo" class="tabs-view">View</a></span>
  </section>
