
<div formGroupName="address" class="container-fluid">
  <div class="row">
  <div class="col-sm-4">
    AddressLine1:
    <input type="text" class="form-control" formControlName="addressLine1">
  </div>
  <div class="col-sm-4">
      AddressLine2:
      <input type="text" class="form-control" formControlName="addressLine2">
  </div>
  <div class="col-sm-4">
      AddressLine3:
      <input type="text" class="form-control" formControlName="addressLine3">
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
      city:
      <input type="text" class="form-control" formControlName="city">
  </div>
  <div class="col-sm-3">
      county:
      <input type="text" class="form-control" formControlName="county">
  </div>
  <div class="col-sm-3">
      stateCode:
      <input type="text" class="form-control" formControlName="stateCd">
  </div>
  <div class="col-sm-3">
      zipCode:
      <input type="text" class="form-control" formControlName="zipCode">
  </div>
  </div>
</div>
