
<div formGroupName="groups" class="container-fluid">
  
  <div class="row">
    <div class="col-sm-3">
        Group Name:
        <input type="text" class="form-control" formControlName="groupName">
    </div>
    <div class="col-sm-3">
        Group Type:
        <input type="text" class="form-control" formControlName="grouptype">
    </div>
    <div class="col-sm-3">
        Group Effective Date:
        <input type="date" class="form-control" formControlName="grpEffDate">
    </div>
    </div>
  </div>
  