<div class="row pt-1" >
    <div class="col-sm-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Case Name"  [value]="caseName">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ein Number" [value]="einNumber">
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Case Effective Date" [value]="caseEffDate">
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Case Status Code" [value]="caseSttsCd">
        </mat-form-field>
    </div>
  </div>
