<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li> <a class="router" routerLink="/address" routerLinkActive="active">Address</a></li>
          <li> <a class="router" routerLink="/contact" routerLinkActive="active">Contact</a></li>
          <li> <a class="router" routerLink="/groups" routerLinkActive="active">Groups</a></li>
          <li> <a class="router" routerLink="/cases" routerLinkActive="active">Case Details</a></li>
        </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
