.align-add-case {
    width: 388px;
    height: 47px;
    background-color: #0087C0;
    border: none;
    color: white;
    margin-left: 35%;
    margin-top: 15%;
}

.search-case-align {
    width: 453px;
    margin-left: 34%;
    margin-top: 2%;
}
.search-icon-align {
    margin-left: -51px;
    margin-top: 9px;
}

.table-align {
    width: 92%;
    margin-left: 57px;
    margin-top: 31px;
}