<div class="row pt-1">
        <div class="col-sm-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email Id">
          </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fax Number">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Telephone Number">
            </mat-form-field>
        </div>
      </div>