<mat-accordion>
    <div [formGroup]="caseInfo">
        <div formArrayName="brokers">
    <mat-expansion-panel *ngFor="let item of brokers.controls; let i=index" [formGroupName]="i">
      <mat-expansion-panel-header>
            <mat-panel-title>
                Broker {{i}}
            </mat-panel-title>
     </mat-expansion-panel-header>
<div class="row">
<div class="col-sm-2">
    <mat-form-field class="example-full-width">
        <input [readonly]="isViewMode" matInput placeholder="Agent Tin" formControlName="agentTin">
    </mat-form-field>
</div>
<div class="col-sm-2">
    <mat-form-field class="example-full-width">
        <input [readonly]="isViewMode" matInput placeholder="Parent Tin" formControlName="parentTin">
    </mat-form-field>
</div>
<div class="col-sm-2">
    <mat-form-field class="example-full-width">
        <input [readonly]="isViewMode" matInput placeholder="Broker Type Code" formControlName="brkrTypeCd">
    </mat-form-field>
</div>
</div>


<mat-divider></mat-divider>


<div class="row">
<div class="col-sm-2">
        <mat-form-field class="example-full-width">
                <input [readonly]="isViewMode" matInput placeholder="Percentage" formControlName="percentage">
        </mat-form-field>
</div>
<div class="col-sm-2">
        <mat-form-field class="example-full-width">
                <input [readonly]="isViewMode" matInput placeholder="Coverage Type Code" formControlName="cvrgTypeCd">
        </mat-form-field>
</div>
<div class="col-sm-2" style="padding-top: 36px;padding-left: 45px;" [hidden]="type=='view'">
        <a (click)="removeBroker(i)" [hidden]="brokers.controls.length<2">Remove</a>
</div>

</div>

  <mat-divider></mat-divider>
</mat-expansion-panel>
<div class="row">
        <div class="col col-sm-12" [hidden]="type=='view'">
                <a (click)="addBrokers()" class="add_contact_a btn-info btn-xs">
                 Add more
                </a>
        </div>
</div>
</div>
</div>
</mat-accordion>

